/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/* Login*/
.cuadro-login{
  /*width: 320px;
  height: 420px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border-radius: 5px; 
  padding: 70px 30px;
  text-align: center;*/
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border-radius: 5px; 
  text-align: center;
}
.map{
  width: 500px;
  height: 150px;
  position: bottom;
  background-image: url(img/map.jpg);
  background-size: 500px;
  border-radius: 0px 0px 5px 5px;
}
.login-box{
  width: 500px;
  height: 350px;
  background-color: #f6f4ee;
  color: #fff;
  position: top;
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
  padding: 70px 40px;
  text-align: center;
}
.login-box h2 {
	margin: 0;
	padding: 0 0 20px;
	font-family: Avenir;
	font-size: 32px;
	text-align: center;
	margin-bottom: 40px;
  color: #6a2219;
}
.login-box form input[type='text'] {
          		width: 200px;
          		height: 25px;
          		border: 0px;
          		margin-bottom: 10px; 
              padding: 0px 10px;
          		background-color: #ffffff;  		
          		font-family: Ayuthaya;
    			   font-size  : 12px;
    			   text-align:center;
    			   color: black;
			}
.login-box form input[type='password'] {  
          		width: 200px;
          		height: 25px;
          		border: 0px;
          		margin-bottom: 20px;
              padding: 0px 10px;
          		background-color: #ffffff;
          		font-family: Ayuthaya;
    			font-size  : 12px;
    			text-align:left;
    			color: black;
    			text-align: center;
			}
.login-box form button {
				  width: 120px;
				  margin-bottom: 5px;
          font-family      : Avenir;
    			font-size        : 14px;
    			color            : white;
    			background-color : #8c8c8c;
    			border           : 1px solid black;
    			padding: 5px;
    			border-radius: 5px;
			}
.login-box form button:hover {
				width: 120px;
				margin-bottom: 5px;
          		font-family      : Avenir;
    			font-size        : 14px;
    			color            : black;
    			background-color : white;
    			border           : 1px solid white;
    			padding: 5px;
    			border-radius: 5px;
    			cursor: pointer;
			}
.login-box form button:active{
				width: 120px;
				margin-bottom: 5px;
          		font-family      : Avenir;
    			font-size        : 14px;
    			color            : black;
    			background-color : #e6e6e6;
    			border           : 1px solid white;
    			padding: 5px;
    			border-radius: 5px;
    			cursor: pointer;
			}
.login-box a {
          font-family      : Avenir;
          font-size        : 14px;
          color            : #6a2219;
    }
.login-box a:hover {
          font-family      : Avenir;
          font-size        : 14px;
          color            : #9999ff;
    }
.login-box a:active {
          font-family      : Avenir;
          font-size        : 14px;
          color            : #6666ff;
    }
.login-box a:visited {
          font-family      : Avenir;
          font-size        : 14px;
          color            : #6a2219;
    }

.imagen_map{
  margin: auto;
  margin-top: 400px;
  width: 500px;
  height: 100px;
  background-image: url(img/map.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 5px;
}

/* Sign up*/
.signup-box h2 {
	margin: 0;
	padding: 0 0 20px;
	font-family: Avenir;
	font-size: 27px;
	text-align: center;
	margin-bottom: 20px;
  color: #6a2219;
}
.signup-box p {
	margin-bottom: 15px;
	font-family: Avenir;
	font-size: 14px;
	text-align: center;
  color: #6a2219;
}

.signup-box input[type='text'] {
          		width: 200px;
          		height: 25px;
          		border: 0px;
          		margin-bottom: 10px; 
          		background-color: #ffffff;  		
          		font-family: Ayuthaya;
    			font-size  : 12px;
    			text-align:left;
    			color: black;
    			text-align: center;
			}
.signup-box input[type='password'] {  
          		width: 200px;
          		height: 25px;
          		border: 0px;
          		margin-bottom: 10px;
          		background-color: #ffffff;
          		font-family: Ayuthaya;
    			font-size  : 12px;
    			text-align:left;
    			color: black;
    			text-align: center;
			}
.signup-box form button {
          width: 120px;
          margin: auto;
          margin-bottom: 5px;
          font-family      : Avenir;
          font-size        : 14px;
          color            : white;
          background-color : #8c8c8c;
          border           : 1px solid #6a2219;
          padding: 5px;
          border-radius: 5px;
          display: block;
      }
.signup-box form button:hover {
        width: 120px;
        margin: auto;
        margin-bottom: 5px;
          font-family      : Avenir;
          font-size        : 14px;
          color            : #6a2219;
          background-color : white;
          border           : 1px solid #6a2219;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
          display: block;
      }
.signup-box form button:active{
          width: 120px;
          margin: auto;
          margin-bottom: 5px;
          font-family      : Avenir;
          font-size        : 14px;
          color            : #6a2219;
          background-color : #e6e6e6;
          border           : 1px solid white;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
          display: block;
        }
.signup-box a {
          font-family      : Avenir;
          font-size        : 14px;
          color            : white;
    }
.signup-box a:hover {
          font-family      : Avenir;
          font-size        : 14px;
          color            : #9999ff;;
    }
.signup-box a:active {
          font-family      : Avenir;
          font-size        : 14px;
          color            : #6666ff;
    }
.signup-box a:visited {
          font-family      : Avenir;
          font-size        : 14px;
          color            : white;
    }
.signup-box{
	 width: 500px;
  height: 350px;
  background-color: #f6f4ee;
  color: #fff;
  position: top;
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
  padding: 70px 40px;
  text-align: center;
}


/*PJ.html*/
.cuadro{
  width: 800px;
  height: 100%;
  background-color: #f6f4ee;
  color: #6a2219;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border-radius: 5px; 
  text-align: center;
}
.cuadro ul{
  float: left;
}
.cuadro ul li{
  float: left;
  list-style: none;
}
.cuadro ul li a{
  font-family: century gothic;
  font-size: 25px;
  color: black;
  padding-left: 40px;
}
.cuadro form{
  float: left;
  margin-left: 40px;
}
.cuadro form button{
          width: 100px;
          height: 70px;
          margin-bottom: 5px;
          font-family      : Avenir;
          font-size        : 16px;
          color            : #6a2219;
          background-color : #e4dece;
          border           : none;
          padding: 10px;
          border-radius: 5px;
          text-align: center;
}
.cuadro form button:hover{
          width: 100px;
          height: 70px;
          margin-bottom: 5px;
          font-family      : Avenir;
          font-size        : 16px;
          color            : #6a2219;
          background-color : #f0ebdc;
          border           : 1px solid black;
          padding: 10px;
          border-radius: 5px;
          text-align: center;
          cursor: pointer;
}
.cuadro form button:active{
          width: 100px;
          height: 70px;
          margin-bottom: 5px;
          font-family      : Avenir;
          font-size        : 16px;
          color            : #6a2219;
          background-color : #ccc8bb;
          border           : 1px solid black;
          padding: 10px;
          border-radius: 5px;
          text-align: center;
          cursor: pointer;
}
/* CS.html*/
.titulo{
  width: 800px;
  height: 50px;
  position: top;
  text-align: center;
  padding: 50px 50px; 
}
.titulo ul{
  float: left;
}
.titulo ul li{
  float: left;
  list-style: none;
}
.titulo ul li a{
  font-family: century gothic;
  font-size: 25px;
  color: black;
}
.encuadre{
  width: 800px;
  height: 100%;
  position: bottom;
  padding-left: 30px;
}
.encuadre table{
    width: 600px;
    text-align:center;
    font-family: Ayuthaya;
    font-size  : 12px;
    margin: auto; 
    margin-bottom: 10px;
    vertical-align: middle;
}
.encuadre table input[type='text']{
            width: 100%;
            height: 25px;
            margin: auto; 
            background-color: white;      
            font-family: Ayuthaya;
            font-size  : 12px;
            text-align: center;
            color: black;
            border: 1px solid #6a2219;
}
.encuadre table td{
    padding: 4px 4px;
}
.estadistica tr{
  height: 40px;
}
.estadistica tr td input[type='text']{
  height: 40px;
  font-size: 14px;
}
.descripcion td{
  font-size: 6px;
  
}
/*Toda la pagina web*/
body{	
		background-color:  #6a2219;
	}
h2 {
  font-family: Avenir;
  font-size: 30px;
  float: left;
  padding-left: 125px;
  color: #6a2219;
}
h3{
  margin-bottom: 10px;
  font-family: Avenir;
  font-size: 20px;
  text-align: center;
  color: #6a2219;
}
a{
  text-decoration: none;
}