/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Login*/

.login-box h2 {
	margin: 0;
	padding: 0 0 20px;
	font-family: Avenir;
	font-size: 27px;
	text-align: center;
	margin-bottom: 50px;
}

.login-box input[type='text'] {
          		width: 200px;
          		height: 25px;
          		border: 0px;
          		margin-bottom: 10px; 
          		background-color: #ffffff;  		
          		font-family: Ayuthaya;
    			font-size  : 12px;
    			text-align:left;
    			color: black;
    			text-align: center;
			}
.login-box input[type='password'] {  
          		width: 200px;
          		height: 25px;
          		border: 0px;
          		margin-bottom: 10px;
          		background-color: #ffffff;
          		font-family: Ayuthaya;
    			font-size  : 12px;
    			text-align:left;
    			color: black;
    			text-align: center;
			}
.login-box input[type='submit'] {
				width: 120px;
				margin-bottom: 5px;
          		font-family      : Avenir;
    			font-size        : 14px;
    			color            : white;
    			background-color : #8c8c8c;
    			border           : 1px solid black;
    			padding: 5px;
    			border-radius: 5px;
			}
.login-box input[type='submit']:hover {
				width: 120px;
				margin-bottom: 5px;
          		font-family      : Avenir;
    			font-size        : 14px;
    			color            : black;
    			background-color : white;
    			border           : 1px solid white;
    			padding: 5px;
    			border-radius: 5px;
    			cursor: pointer;
			}
.login-box input[type='submit']:active{
				width: 120px;
				margin-bottom: 5px;
          		font-family      : Avenir;
    			font-size        : 14px;
    			color            : black;
    			background-color : #e6e6e6;
    			border           : 1px solid white;
    			padding: 5px;
    			border-radius: 5px;
    			cursor: pointer;
			}
.login-box{
	width: 320px;
	height: 420px;
	background: rgba(0,0,0,0.6);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	border-radius: 5px; 
	padding: 70px 30px;
	text-align: center;
}
.login-body {
				background-image:url(img/Bg_login.png);
			}
/* Sign up*/
.signup-box h2 {
	margin: 0;
	padding: 0 0 20px;
	font-family: Avenir;
	font-size: 27px;
	text-align: center;
	margin-bottom: 30px;
}
.signup-box p {
	margin-bottom: 15px;
	font-family: Avenir;
	font-size: 14px;
	text-align: center;
}

.signup-box input[type='text'] {
          		width: 200px;
          		height: 25px;
          		border: 0px;
          		margin-bottom: 10px; 
          		background-color: #ffffff;  		
          		font-family: Ayuthaya;
    			font-size  : 12px;
    			text-align:left;
    			color: black;
    			text-align: center;
			}
.signup-box input[type='password'] {  
          		width: 200px;
          		height: 25px;
          		border: 0px;
          		margin-bottom: 10px;
          		background-color: #ffffff;
          		font-family: Ayuthaya;
    			font-size  : 12px;
    			text-align:left;
    			color: black;
    			text-align: center;
			}
.signup-box input[type='submit'] {
				width: 120px;
				margin-bottom: 5px;
          		font-family      : Avenir;
    			font-size        : 14px;
    			color            : white;
    			background-color : #8c8c8c;
    			border           : 1px solid black;
    			padding: 5px;
    			border-radius: 5px;
			}
.signup-box input[type='submit']:hover {
				width: 120px;
				margin-bottom: 5px;
          		font-family      : Avenir;
    			font-size        : 14px;
    			color            : black;
    			background-color : white;
    			border           : 1px solid white;
    			padding: 5px;
    			border-radius: 5px;
    			cursor: pointer;
			}
.signup-box input[type='submit']:active{
				width: 120px;
				margin-bottom: 5px;
          		font-family      : Avenir;
    			font-size        : 14px;
    			color            : black;
    			background-color : #e6e6e6;
    			border           : 1px solid white;
    			padding: 5px;
    			border-radius: 5px;
    			cursor: pointer;
			}
.signup-box{
	width: 320px;
	height: 420px;
	background: rgba(0,0,0,0.6);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	border-radius: 5px; 
	padding: 70px 30px;
	text-align: center;
}
.login-body {
				background-image:url(img/Bg_login.png);
			}
/* CS.html*/
td{
	padding: 5px;
}
body{	
		background-image:url(img/Bg.jpg);
		color:white;
		
	}
a:hover{
		color: #9999ff;
}
a:visited{
	color: white;
}
a:active{
	color: #66ebff;
}
table {			
		text-align:center;
		font-family: Ayuthaya;
    	font-size  : 12px;
		}